In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('tweet.csv')

In [26]:
df_text = df['text']
cleanned_text = []
exclude_alpha = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ '
for row in df_text:
    try:
        cleanned_text.append(''.join([s.lower() for s in row if s in exclude_alpha]).strip())
    except:
        continue

In [39]:
# ' '.join([t for t in cleanned_text[4].split(' ') if t is not ''])
len(cleanned_text)

599402

In [36]:
for i in range(len(cleanned_text)):
    cleanned_text[i] = ' '.join([t for t in cleanned_text[i].split(' ') if t is not ''])
    cleanned_text[i] = ' '.join([t for t in cleanned_text[i].split(' ') if 'http' not in t])

In [38]:
len(cleanned_text)

599402

In [54]:
longer_text = filter(lambda x: len(x.split(' ')) > 20, cleanned_text)
type(longer_text)

filter

In [55]:
longer_list = list(longer_text)

In [60]:
truncated_text = [' '.join(l.split(' ')[:20]) for l in longer_list]

In [66]:
len(truncated_text)

33726

In [68]:
new_df = pd.DataFrame({'text': truncated_text})
new_df.head()

                                                text
0  yang bercerita pon org yang baru tengok ufc sb...
1  aku biaq ja kalau dia sayang aku dia tak melay...
2  hahah tulah mace senyap jah kj pun tktau hahah...
3  balik lah pada allah swt dari mana dia datang ...
4  joke for my friends here at twitterjayaa eh jo...

In [69]:
new_df.to_csv('cleanned-tweet.csv', index=False)